.thumbnail {
  width: 200px; /* Set the desired height */
  height: 200px;
  object-fit: contain; /* Ensures the image covers the area without distortion */
}

.anime {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.anime-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #646cff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #646cff;
  border-color: #535bf2;
}

label, input[type="checkbox"] + label {
  margin-top: 10px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px; /* Add some space between the checkbox and the label */
}