.download-container {
    margin: 0;
    padding-top: 80px;
    /* Adjust this value based on your header height */
    display: flex;
    flex-direction: column;
}

.download-list {
    list-style-type: none;
    padding: 0;
}

.download-item {
    margin-bottom: 10px;
}

.folder-name {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}